{% extends 'base.html' %}

{% block title %}
    个人资料
{% endblock %}
{% block content %}
<div class="containter">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
        {% if user.is_authenticated %}
            <h2>{{ user.username }}</h2>
            <ul>
                <li>昵称：<a href="{% url 'change_nickname' %}">修改昵称</a></li>
                <li>邮箱：{% if user.email %}{{ user.email }}{% else %}未绑定
                    <a href="#">绑定邮箱</a>{% endif %}</li>
                <li>上次登录时间： {{ user.last_login|date:"Y-m-d H:i:s" }}</li>
                <li><a href="#">修改密码</a></li>
            </ul>
        {% else %}
            <script type = "text/javascript">
                window.location.href = '/'
            </script>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}